<meta name="viewport" content="width=device-width" />
<div class="bgimgbigcircle">
  <img src="../assets/images/circle.svg" class="img-responsive"/>
</div>
<div class="bgimgsmallcircle">
  <img src="../assets/images/blob-small.svg" class="img-responsive"/>
</div>
<div class="bgimgdots">
  <img src="../assets/images/accounting_dots.svg" class="img-responsive"/>
</div>
<div class="bgimgdots1">
  <img src="../assets/images/accounting_dots.svg" class="img-responsive"/>
</div>
<app-navbar></app-navbar>
<app-home></app-home>
<app-cards></app-cards>
