<div class="min-height wave">
<div class="row">
<div class="col-md-1 mol-sm-1 col-lg-1"></div>
<div class="col-md-5 mol-sm-5 col-lg-5 martop2">
    <div class="col-md-6 mol-sm-6 col-lg-6 leftcont">
        <div class="card1">
            <img src="../../../assets/images/Get Paid Instantly.png" class="img-responsive card_icon"/>
            <p class="cardhead">Quick cash disbursement</p>
            <p class="carddesc">Get terms loans that your business needs within 72 hrs</p>
        </div>
        <div class="card1">
            <img src="../../../assets/images/Low interest rate.png" class="img-responsive card_icon"/>
            <p class="cardhead">Low interest rate</p>
            <p class="carddesc">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
        </div>
        <div class="card1">
            <img src="../../../assets/images/Secure Payments.png" class="img-responsive card_icon"/>
            <p class="cardhead">Zero paperwork</p>
            <p class="carddesc">Get started instantly by submitting only your basic details & bank statements</p>
        </div>
    </div>
    <div class="col-md-6 mol-sm-6 col-lg-6 rightcont">
        <div class="card1 margintopcustom">
            <img src="../../../assets/images/freelancer_feature_icon_6@1.5x.png" class="img-responsive card_icon"/>
            <p class="cardhead">Ace your business finances</p>
            <p class="carddesc">Manage banking, accounting & everything in between, on one platform</p>
        </div>
        <div class="card1">
            <img src="../../../assets/images/Covid.png" class="img-responsive card_icon"/>
            <p class="cardhead">Loans to fight COVID-19</p>
            <p class="carddesc">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
        </div>
    </div>
</div>
<div class="col-md-5 mol-sm-5 col-lg-5">
    <h1 class="lefthead1">Boost your Business<br>with Open</h1>
    <p class="subhead">Get your hands on a term loan that’s <br>crafted for your business</p>
    <button class="openaccount">Get an open account
    </button>
</div>
<div class="col-md-1 mol-sm-1 col-lg-1"></div>
</div>
</div>